.heading{
    background-color: aliceblue;
    border:2px solid red;
    padding: 20px;
    width: 40%;
    margin: auto;
  
}

button{
background-color: rgb(3, 200, 161);

}

.remove-all-btn{
   background-color: rgb(170, 163, 172);
   border-radius: 10px;
}